{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 2%"
          ]
        },
        "modules": "cjs",
        "useBuiltIns": false
      }
    ]
  ]
}
